*{
    margin:0;
    padding:0;
}
body{
 font-family: 'Merriweather', serif;;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.navbar img{
    padding: 10px;
}
.navbar-link{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{ 
    text-decoration: none;
    color: #10232c;
}
.navbar-links a:hover{
text-decoration: underline;
color: #10232c;
}
.toggle{
    display:none;
}
/*side nav bar  */
.side-navbar{
    background-color:#10232c;
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:-60%;
    padding:20px;
    color: white;
    transition:2s;  

}
.side-navbar-links{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color:white;

}
.side-navbar-links a:hover{
    text-decoration: underline;
    color:white;
}
.header{
    display: flex;
    justify-content: center;
    gap:50px;
    padding:50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #10232c;
    color: white;
    cursor: pointer;
}
.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
}
.service-container-2 div{
    background-color:gray;
    border-radius: 5px;
    padding: 10px;
}
.new-arrival{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrival-container{
position: relative;
flex-basis: 20%;

}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color:#10232c;
    position: absolute;
    top:50%;
    left:18%;
    border-radius: 10px;
    border: none;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news input{
    padding:11px;
    width:80vw;
    margin-bottom: 10px;
    border:solid 3px;
}
.news button{
    margin-top: 20px;
    color:#f2f4f7;
    background-color:#10232c ;
    border-radius: 10px;
    padding:10px;
    
}
.footer{
    margin-top: 20px;
    padding: 20px;
    top:10px;
    background-color: #10232c;
    color: #f2f4f7;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border:solid black 2px;
    border-radius:20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
margin:auto;
}
.product-search input{
    border:none;
    background-color: transparent;
    width:100%;
}
.product-search input:focus{
    outline:none;
}
.products{
    padding: 20px;
    display:flex;
 flex-wrap: wrap;
 justify-content: space-around;
    gap:10px;

}
.product-box{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display:block;
    background-color:#10232c;
    color: #f2f4f7;
    border: none;
    
    text-align: center;
    
}
.container h1{
    padding-top:50px;
}
.sd button{
    border-radius: 3px;
    background-color: #f2f4f7;
    color: #10232c;
    border: none;
    padding: 10px;
    margin: 20px;


}
.container input{
    border:none;
    width:50%;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    margin-top: 30px;
    border-radius:10px;
    text-align: center;
}
.container label{
    position: absolute;
    padding-right: 20px;
    padding-left: 20px;
    
    
}
/* mediaquery */
@media screen and (max-width :600px){
    .toggle{
        display:block;
    }
    .navbar-link{
        display:none;
    }
    .header-img{
        display:none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}
